# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Flask instance (banco SQLite)
instance/

# Arquivos de upload (opcional)
app/static/uploads/

# Variáveis de ambiente
.env
.env.*

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/